# --- Java build files ---
target/
bin/
*.class

# --- Maven specific ---
log/
*.log
*.war
*.ear
*.jar

# --- Gradle specific ---
.gradle/
build/
!gradle-wrapper.jar
**/build/

# --- IntelliJ IDEA specific ---
.idea/
*.iml
*.iws
out/

# --- OS-specific ---
.DS_Store       # macOS
Thumbs.db       # Windows
desktop.ini     # Windows

# --- Others ---
.env
*.swp
*.swo
*.tmp
